<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Time Water Monitoring App</title>
</head>
<body>
  <div class="main-container"> 
    <div class="map">
      <h2>This area will host map</h2>
    </div>
  
    <div class="flex-box-container">
      <div class="item item-1">
        This wil host projecty info
      </div>
      <div class="item item-2">
       This will host real time data graph
      </div>
    </div>
  </div>
  
  
</body>
</html>